@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Owsald', sans-serif ;
    color: #42424A;
    
    
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px; /* buradaki padding önemli */
    border-bottom: 1px solid #dbdbdb;
}
/* .logo{
    
} */
.logo a {
    color:#00000c ;
    font-weight: 500;
}
header ul li {
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}
header ul li :last-child{
    margin-right: 0;
}
header ul li a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 18px;
    margin-top: 15px;
    font-weight: 500;
}
header ul li a:hover {
    color: #e0339c;
}

header ul .submenu {
    position: absolute;
    width: 200px;
    background-color: #c7e8fd;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.2);
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
}

header ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}

header ul .submenu li{
    margin: 0;
    width: 100%;

}
header ul .submenu li a{
    padding: 15px 20px;
    display: inline-block;
    width: 100%;
}

/*  ----Slider---- */

.hero_area  {
    
    background-color: #b3e0ff;
    background-image: url('images/freepik.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 45%;

    
}


.slider_section {
    
    padding-top: 50px;
    padding-right: 50%;
}

.slider_item-box {
    width: 100%;
    height: 100%;
}


.slider_item-box .container {
    height: 100%;
}

.slider_img-box {
    width: 85%;
    margin: 0 auto;
}

.slider_img-box img {
    width: 100px;
}

.slider_item-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider_item-detail {
    margin-top: 50px;
    text-align: center;
    color: #080000;
}

.slider_item-detail h1 {
    font-weight: 600;
}

.slider_item-detail p {
    margin: 40px 0 45px 0;
}

.slider_item-detail a {
    display: inline-block;
    background-color: #173d7b;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 40px;
}

.slider_section #carouselExampleControls,
.carousel-inner,
.carousel-item {
    
    height: 100%;
}

.slider_section .carousel-control-prev
{
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: center;
    background-color: #d9eef9;
    transform: translateY(-50%);
}

.slider_section .carousel-control-next
{
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: center;
    background-color: #d9eef9;
    transform: translateY(-50%);
    margin-right: 50%;
}

.slider_section .carousel-control-prev:hover,
.slider_section .carousel-control-next:hover {
    background-color: #173d7b;
    background-size: 12px;
}

.slider_section .carousel-control-prev {
    left: 2%;
    background-image: url(../images/left-black-arrow.png);
}

.slider_section .carousel-control-next {
    right: 2%;
    background-image: url(../images/right-black-arrow.png);
}

.slider_section .carousel-control-prev:hover {
    background-image: url(../images/prev.png);
}

.slider_section .carousel-control-next:hover {
    background-image: url(../images/next.png);
}

/* ---- 'How to serve products' section ---- */

.about_section {
    margin-top: 75px;
    text-align: center;
    margin-bottom: 175px;
}

.about_section h2 {
    margin-bottom: 100px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 70px;
}

.about_section h4 {
    font-size: 22px;
    font-weight: 600;
    border-width: 50%;
    display: inline-block;
    border-bottom: 3px solid #173d7b;
}

.about_card-container {

    display: flex;
    justify-content: center;
}

.about_card .about-detail {
    padding: 20px 25px 35px 25px;
}
.container-about_partial{
    display: flex;
    justify-content: space-between;

}

.about_img-container {
    width: 275px;
    background-color: #1ba1b9;
    height: 275px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid #a4b7e8;
    margin: 0 auto 45px auto;
}

.about_card .about_img-box {
    width: 125px;
}

.about_card .about-detail p {
    margin-top: 15px;
}

.about_card img {
    width: 100%;
}

/* ---- Activity section ---- */

.activity_section{
    background-color: #b3e0ff;
    color: black;
}

.activity_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
}

.activity_section .activity_img-box{
    background-color: white;
    background: fixed;
    padding: 50px;
    overflow: hidden;
    transform: scale(1.01) translateX(-10%);
    width: 65%;
    
}

.activity_img-box {
    width: 100%;
}

.activity_section .activity_detail-box{
    text-align: end;
    width: 40%;
}

.activity_section .activity_detail-box h2 {
    font-weight: bold;
}

.activity_section .activity_detail-box p {
    margin: 45px 0 50px 0;
}

.activity_section .activity_detail-box a {
    display: inline-block;
    background-color: #173d7b;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 40px;

}

.activity_section .activity_detail-box h6 {
    padding-top: 25px;
    color: #e0339c;
    font-weight: bold;
}




/*  ---- Footer ---- */

.container-footer{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    background-color: #24262b;
    padding: 45px 0 ;

}

footer ul {
    list-style: none;

}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px ;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    display: inline-block;
    border-bottom: 1px solid #e0339c;
}


.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 13px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    
}
.footer-col ul li a:hover {
    color: white;
    padding-left: 10px;

}
.container-fluid{
    text-align: center;
    padding-top: 75px;
}

.container-fluid p {
    color: white;
}
.container-fluid p a{
    color: #e0339c;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255,0.2);
    margin-right: 10px;
    margin:0 10px 10px 0 ;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: white;
}



