@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: 'Owsald', sans-serif ;
    color: #42424A;
    
    
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px; /* buradaki padding önemli */
    border-bottom: 1px solid #dbdbdb;
}
/* .logo{
    
} */
.logo a {
    color:#00000c ;
    font-weight: 500;
}
header ul li {
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}
header ul li :last-child{
    margin-right: 0;
}
header ul li a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 18px;
    margin-top: 15px;
    font-weight: 500;
}
header ul li a:hover {
    color: #e0339c;
}

header ul .submenu {
    position: absolute;
    width: 200px;
    background-color: #c7e8fd;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.2);
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
}

header ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}

header ul .submenu li{
    margin: 0;
    width: 100%;

}
header ul .submenu li a{
    padding: 15px 20px;
    display: inline-block;
    width: 100%;
}

/*  ----------------------------------------- Slider ----------------------------------------- */

.hero_area  {
    
    background-color: #b3e0ff;
    background-image: url('images/freepik.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 45%;

    
}

.hero_area-network{
    background-color: #b3e0ff;
    background-image: url('images/server-room-system-administration-control-center-it-technology_126283-2123.avif');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-x: 10%;
    height: 650px;

}
.hero_area-firewall{
    background-color: #b3e0ff;
    background-image: url('images/firewall.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-x: 10%;
    height: 650px;

}

.hero_area-backup{
    background-color: #b3e0ff;
    background-image: url('images/backup.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-x: 10%;
    height: 650px;

}
.container_network{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-detail{
    margin-top: 50px;
    text-align: center;
    color: #080000;
}

.slider_section2 {
    
    padding-top: 50px;
    padding-left: 50%;
}

.slider_section {
    
    padding-top: 50px;
    padding-right: 50%;
}

.slider_item-box {
    width: 100%;
    height: 100%;
}


.slider_item-box .container {
    height: 100%;
}

.slider_item-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider_item-detail {
    margin-top: 50px;
    text-align: center;
    color: #080000;
}

.slider_item-detail h1 {
    font-weight: 600;
    font-size: 36px;
}

.item-detail-pages{
    margin-top: 50px;
    text-align: center;
    color: #080000;
}

.item-detail-pages h1{
    font-weight: 600;
    font-size: 36px;
}
.item-detail-pages p{
    margin-top: 45px;
}

.slider_item-detail p {
    margin: 40px 0 45px 0;
}

.slider_item-detail a {
    display: inline-block;
    background-color: #173d7b;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 40px;
}

.slider_section #carouselExampleControls,
.carousel-inner,
.carousel-item {
    
    height: 100%;
}

.slider_section .carousel-control-prev
{
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: center;
    background-color: #d9eef9;
    transform: translateY(-50%);
}

.slider_section .carousel-control-next
{
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: center;
    background-color: #d9eef9;
    transform: translateY(-50%);
    margin-right: 50%;
}

.slider_section .carousel-control-prev:hover,
.slider_section .carousel-control-next:hover {
    background-color: #173d7b;
    background-size: 12px;
}

.slider_section .carousel-control-prev {
    left: 2%;
    background-image: url(../images/left-black-arrow.png);
}

.slider_section .carousel-control-next {
    right: 2%;
    background-image: url(../images/right-black-arrow.png);
}

.slider_section .carousel-control-prev:hover {
    background-image: url(../images/prev.png);
}

.slider_section .carousel-control-next:hover {
    background-image: url(../images/next.png);
}

/* ----------------------------------------- 'ABOUT THE PRODUCTS' section ----------------------------------------- */


.about_section {
    margin-top: 75px;
    text-align: center;
    margin-bottom: 175px;
}

.container-about{
    margin-bottom: 120px;
}

.about_section h2 {
    margin-bottom: 100px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 70px;
}

.about_section h4 {
    font-size: 22px;
    font-weight: 600;
    border-width: 50%;
    display: inline-block;
    border-bottom: 3px solid #173d7b;
}

.about_card-container {

    display: flex;
    justify-content: center;
}

.about_card .about-detail {
    padding: 20px 25px 35px 25px;
}
.container-about_partial{
    display: flex;
    justify-content: space-between;

}

.about_img-container {
    width: 275px;
    background-color: #1ba1b9;
    height: 275px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid #b3e0ff;
    margin: 0 auto 45px auto;
}

.about_card .about_img-box {
    width: 125px;
}

.about_card .about-detail p {
    margin-top: 15px;
}

.about_card img {
    width: 100%;
}

/* ----------------------------------------- Chart section ----------------------------------------- */
.chart_section{
    display: flex;
    


}

.chart-container{
    position: relative;
    margin: 0 auto;
}

.chart-container h2{
    margin-bottom: 55px;
    text-transform: uppercase;
}
#pie {
    width: 500px !important;
    height: 500px !important;
    margin-bottom: 150px;
    margin-left: 65px;
}



/* ----------------------------------------- Activity section ----------------------------------------- */

.activity_section{
    background-color: #b3e0ff;
    color: black;
}

.activity_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
}

.activity_section .activity_img-box{
    background-color: white;
    background: fixed;
    padding: 50px;
    overflow: hidden;
    transform: scale(1.01) translateX(-10%);
    width: 65%;
    
}

.activity_img-box {
    width: 100%;
}

.activity_section .activity_detail-box{
    text-align: end;
    width: 40%;
}

.activity_section .activity_detail-box h2 {
    font-weight: bold;
}

.activity_section .activity_detail-box p {
    margin: 45px 0 50px 0;
}

.activity_section .activity_detail-box a {
    display: inline-block;
    background-color: #173d7b;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 40px;

}

.activity_section .activity_detail-box h6 {
    padding-top: 25px;
    color: #e0339c;
    font-weight: bold;
}

/* ----------------------------------------- 'Who are we' section ----------------------------------------- */

.admin_section{
    padding-top: 125px;
    text-align: center;
}

.admin_card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.admin_img-container{
    background-color: #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    border-radius: 10px;
    margin-top: 25px;

}

.admin_img-box{
    width: 100px;
}

.admin_card{
    width: 300px;
    padding: 0 15px;
    margin: 35px 0;
}

.admin_card h5{
    text-transform: uppercase;
}

.admin_card img{
    width: 100%;
}

.admin_detail-box{
    margin: 35px auto 0 auto;
}

.admin_detail-box h4{

    font-weight: 600;
    font-size: 20px;
}

.admin_detail-box p{
    text-align: justify;
}

/* ----------------------------------------- Contact section ----------------------------------------- */

.contact_section .container{
    padding-top: 125px;
    padding-bottom: 50px;
}
.heading_container{
    margin-bottom: 50px;
}

.contact_section input{
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: white;
    outline: none;
    color: black;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.contact_section input::-webkit-input-placeholder {
    color: #737272;
}

.contact_section input:-ms-input-placeholder {
    color: #737272;
}

.contact_section input::-ms-input-placeholder {
    color: #737272;
}

.contact_section input::placeholder {
    color: #737272;
}

.contact_section input.message-box {
    height: 135px;
}

.contact_section a{
    display: inline-block;
    background-color: #173d7b;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 40px;
}

.contact_section .map_container{
    height: 360px;
}

.contact_section .map_container .map{
    height: 100%;
}


/*  ----------------------------------------- Footer ----------------------------------------- */

.container-footer{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    background-color: #24262b;
    padding: 45px 0 ;

}

footer ul {
    list-style: none;

}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px ;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    display: inline-block;
    border-bottom: 1px solid #e0339c;
}


.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 13px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    
}
.footer-col ul li a:hover {
    color: white;
    padding-left: 10px;

}
.container-fluid{
    text-align: center;
    padding-top: 75px;
}

.container-fluid p {
    color: white;
}
.container-fluid p a{
    color: #e0339c;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255,0.2);
    margin-right: 10px;
    margin:0 10px 10px 0 ;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: white;
}


.hero_area3{
    background-color: #b3e0ff;

    background-position: left;
    background-repeat: no-repeat;
    background-size: 45%;
    background-position-x: 10%;
    height: 650px;
}

.RightContentBlock {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* İçerik bloğu tasarımı */
.ic-sol {
    float: left;
    width: 20%;
    border-right: 3px solid black;
}

.ic-sol ul {
    list-style: none;
    padding: 0;
}

.ic-sol li.main-li {
    margin: 10px 0;
}

.ic-sol li.sub-li {
    font-weight: bold;
    margin-left: 15px;
}

.ic-sag {
    float: right;
    width: 80%;
}

.ic-baslik {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.ic-sag h4 {
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0;
    padding-top: 25px;
}

.ic-sag p {
    font-size: 16px;
    line-height: 1.5;
}

.ic-sag p::first-letter {
    font-size: 16px;
    line-height: 1.5;
    padding-left: 10px;
}



/* Linklerin stil ayarları */
.ic-sol a{
    color: black;
    text-decoration: none;
}

.ic-sol a:hover{
    color: #e0339c;
    border-bottom: 1px solid #e0339c;
}
